    .body
    {
        position: relative;
    }
    .moo-business-card
    {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin: 1%;
        color: white;
        background-color: RoyalBlue;
        border: thin dashed black;
        width: 95%; /*856px;*/
        padding: 2%;
        height: 80%; /*540px;*/
        position: absolute;
    }
    .contact-info-header
    {
        text-align: left;
        display: block;
        position: absolute;
        top: 2%;
        left:2%;
        right: 2%;
        height: 15%;
    }
    .contact-info-footer
    {
        text-align: center;
        display: block;
        position: absolute;
        left: 2%;
        bottom: 2%;
        right: 2%;
        height: 12%;
        margin: 0;
    }
    .contact-info-left
    {
        display: block;
        position: absolute;
        top:17%;
        bottom: 83%;
        height: 70%;
        left: 2%;
    }
    .contact-info-right
    {
        text-align: left;
        display: block;
        position: absolute;
        top:17%;
        height:70%;
        bottom: 83%;
        width:60%;
        right: 2%;
    }
    h1
    {
        font-family: 'Julius Sans One', sans-serif;
        margin: 0.1em;
        font-size: 3rem;
    }
    h2
    {
        font-size: 2.5rem;
        margin: 0.1em;
    }
    h3
    {
        font-size: 2rem;
        margin: 0.1em;
    }
    img
    {
        margin: 2%;
    }
